--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
sqlalchemy
psycopg2-binary
asyncpg
pgvector
aiosqlite
sentence-transformers
faiss-cpu
streamlit
pydantic
pydantic-settings
python-multipart
aiofiles
pypdf
python-docx
aiohttp
tenacity
slowapi
psutil
redis
cachetools
alembic
pytesseract
Pillow
pdf2image
torch==2.4.1+cpu
